body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
}

/* APP LAYOUT */
.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #121212;
  padding: 20px;
}

.sidebar p {
  margin: 20px 0;
  cursor: pointer;
  color: #b3b3b3;
}

.sidebar p:hover {
  color: white;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  background: linear-gradient(#1db95433, #000);
}

/* GRID */
.grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background: #181818;
  padding: 10px;
  width: 180px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #282828;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* PLAYER */
.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #181818;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #333;
}